---
layout: default
custom_js:
- assets/js/katex.min.js
- assets/js/littlefoot.min.js
- assets/js/paper-full.js
- assets/js/parse-bibtex.js
- assets/js/chapter.js

custom_css:
- assets/css/katex.min.css
- assets/css/littlefoot.css

external_css:
- //s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-viz-0.7.11.css
- //s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-editor-1.0.8.css
---

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

{{ content }}

<!-- put big scripts at end so we don't block page load -->
<script src="//s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-v0.9.6.js"></script>
<script src="//s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-editor-1.0.8.js"></script>
<script src="//s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-viz-0.7.11.js"></script>
