---
layout: default
custom_js:
- assets/js/webppl-editor.js
- bower_components/d3/d3.min.js
- assets/js/webppl.min.js
- assets/js/webppl-viz.js
custom_css:
- assets/css/webppl-editor.css
- assets/css/webppl-viz.css
---

<!--<script src="{{ site.baseurl }}/assets/js/webppl-editor.js"></script>
<script src="{{ site.baseurl }}/assets/js/webppl-viz.js"></script>

<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/webppl-editor.css" media="screen" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/webppl-viz.css" media="screen" type="text/css">-->

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

{{ content }}
