---
layout: default
custom_js:
- bower_components/KaTeX/dist/katex.min.js
- bower_components/bigfoot/dist/bigfoot.min.js
- bower_components/paper/dist/paper-full.js
- assets/js/parse-bibtex.js
- assets/js/chapter.js

custom_css:
- bower_components/KaTeX/dist/katex.min.css
- bower_components/bigfoot/dist/bigfoot-default.css

external_css:
- //s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-viz-41e5d24.css
- //s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-editor-1.0.5.css
---

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

{{ content }}

<!-- put big scripts at end so we don't block page load -->
<script src="//s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-v0.9.2-b0139d4.js"></script>
<script src="//s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-editor-1.0.5.js"></script>
<script src="//s3-us-west-2.amazonaws.com/cdn.webppl.org/webppl-viz-41e5d24.js"></script>
